<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Humanity - The Game</title>
    <link rel="stylesheet" href="/bulma/bulma.min.css" />
    <script src="https://kit.fontawesome.com/fcfa154dc8.js" crossorigin="anonymous"></script>

    <style>
        body::-webkit-scrollbar {
            width: 0 !important;
        }
    </style>
</head>

<body>
    <section>
        <div class="hero is-danger is-bold is-fullheight">
            <!-- Hero head: will stick at the top -->
            <div class="hero-head">
                <nav class="navbar is-danger" role="navigation" aria-label="main navigation">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item">
                                <h1 class="title">
                                    Humanity
                                </h1>
                            </a>

                            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                                <span></span>
                            <span></span>
                            <span></span>
                            </span>
                        </div>

                        <div id="navbarMenuHeroA" class="navbar-menu has-text-centered">
                            <div class="navbar-end">
                                <a class="navbar-item">
                                    Home
                                </a>
                                <a class="navbar-item">
                                    Chat
                                </a>
                                <a class="navbar-item">
                                    About
                                </a>
                                <a href="/users/logout" class="navbar-item">
                                    Logout
                                </a>
                                <span class="navbar-item">
                                    <a class="button is-danger is-outlined is-inverted is-fullwidth"
                                        href="https://github.com/roeintheglasses/humanity">
                                        <span class="icon">
                                            <i class="fab fa-github"></i>
                                        </span>
                                <span>Fork Me</span>
                                </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- Hero content: will be in the middle -->
            <div class="hero-body">
                <div class="container has-text-centered">
                    <!-- Main Page -->

                    <div class="columns">
                        <div class="column is-4">
                            <img src="/icons/humanity-guy/humanity-guy.png" width="512" height="512" alt="humanity-guy" />
                        </div>

                        <div class="column is-1"></div>

                        <div class="column">
                            <h1 class="title">
                                Humanity
                            </h1>
                            <h2 class="subtitle">
                                The game
                            </h2>
                            <div class="container">
                                <article class="message is-warning">
                                    <div class="message-body">
                                        <strong>Hi <%= name %> </strong>, Lorem ipsum dolor sit amet, consectetur adipiscing elit. tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum
                                        <a>felis venenatis</a> efficitur. Aenean ac
                                        <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                                    </div>
                                </article>
                                <div class="columns is-centered">
                                    <div class="column is-1"></div>

                                    <div class="column has-text-centered">
                                        <progress id="humans-progress-bar" class="progress is-dark" value="0" max="100"></progress>

                                        <button class="button is-dark is-medium" id="humansButton">
                                            Humans +1
                                        </button>
                                    </div>
                                    <div class="column is-3"></div>
                                    <div class="column has-text-centered">
                                        <progress id="aliens-progress-bar" class="progress is-warning" value="0" max="100"></progress>
                                        <button class="button is-warning is-medium" id="aliensButton">
                                            Aliens +1
                                        </button>
                                    </div>
                                    <div class="column is-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Main Page -->
                </div>
            </div>
            <div class="hero-foot">
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Current Humannity Score</p>
                            <p class="title">3,456</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Humanity Wins</p>
                            <p class="title">123</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Aliens Wins</p>
                            <p class="title">456K</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Current Invasion Score</p>
                            <p class="title">789</p>
                        </div>
                    </div>
                </nav>
                <br>
            </div>
        </div>

        <div class="hero is-danger is-bold is-fullheight">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="chat">
                        <div class="columns">
                            <div class="column is-half">
                                <button class="button is-primary is-light is-medium" id="humansChatButton">Join the
                                    humans chat Here
                                </button>
                            </div>
                            <div class="column is-half">
                                <button class="button is-warning is-light is-medium" id="aliensChatButton">Join the
                                    Aliens chat Here
                                </button>
                            </div>
                        </div>
                    </div>
                    <br><br><br><br><br><br><br><br><br>
                    <div class="feed">
                        <!-- Result Feed -->
                        <h1 class="title">Invasion Feed</h1>
                        <!--/ Result Feed -->

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
<script src="/js/game.js"></script>

</html>