<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Humanity - The Game</title>
</head>

<body>
    <p>humanity the game</p>
    <button id="humans">Humans +1</button>
    <button id="aliens">Aliens +1</button>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>

</html>