<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Humanity - The Game</title>
    <link rel="stylesheet" href="/bulma/bulma.min.css" />
    <link rel="stylesheet" href="/alerts/css/alerts-css.min.css" />
    <script src="https://kit.fontawesome.com/fcfa154dc8.js" crossorigin="anonymous"></script>

    <style>
        body::-webkit-scrollbar {
            width: 0 !important;
        }
    </style>
</head>

<body>
    <%- body %>
</body>
<script src="/js/main.js"></script>
<script src="/alerts/js/alerts.min.js"></script>

</html>